.wrapper {
    width: 400px;
    margin: 0 auto;
}
.span1 {
    text-align: center;
}
.green {
    background-color: #DFF0D8;
}
.red {
    background-color: #F2DEDE;
}
.yellow {
    background-color: #FCF8E3;
}
.cyan {
    background-color: #5BC0DE;
}
