<!DOCTYPE html>
<head>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.widgets.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/theme.bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <title>Debian {{appname}} packaging status</title>
    <script>
$(function(){
    $.extend($.tablesorter.themes.bootstrap, {
        table      : 'table table-bordered',
        header     : 'bootstrap-header',
        sortNone   : 'bootstrap-icon-unsorted',
        sortAsc    : 'icon-chevron-up',
        sortDesc   : 'icon-chevron-down',
    });

    $('table').tablesorter({
        theme : "bootstrap",
        headerTemplate : '{content} {icon}',
        widgets : [ "uitheme","indexFirstColumn" ],
        usNumberFormat : false,
        sortReset      : true,
        sortRestart    : true
    });
});



$(function() {
    // add new widget called indexFirstColumn
    $.tablesorter.addWidget({
        // give the widget a id
        id: "indexFirstColumn",
        // format is called when the on init and when a sorting has finished
        format: function(table) {               
            // loop all tr elements and set the value for the first column  
            for(var i=0; i < table.tBodies[0].rows.length; i++) {
                $("tbody tr:eq(" + i + ") td:first",table).html(i+1);
            }                                   
        }
    });
});



    </script>
    <style>
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #E1A3E0;
}
.table > thead > tr > td.itp, .table > tbody > tr > td.itp, .table > tfoot > tr > td.itp, .table > thead > tr > th.itp, .table > tbody > tr > th.itp, .table > tfoot > tr > th.itp, .table > thead > tr.itp > td, .table > tbody > tr.itp > td, .table > tfoot > tr.itp > td, .table > thead > tr.itp > th, .table > tbody > tr.itp > th, .table > tfoot > tr.itp > th {
    background-color: #5BC0DE;
}
    </style>
</head>
<body class="container" style="margin-left:5%;width:90%">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GemDeps</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ruby Team @ Debian Wiki</a></li>
                            <li><a href="#">Ruby Packaging HowTo</a></li>
                            <li><a href="#">Debian Ruby Alioth Git Repo</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">WNPP Packages</a></li>
                            <li><a href="#">NEW Packages</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Unofficial GitLab repo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Development Statistics<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Diaspora</a></li>
                            <li><a href="#">GitLab</a></li>
                            <li><a href="#">Asciinema</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Gemdeps</a></li>
                            <li><a href="#">Source</a></li>
                            <li><a href="#">Gemfileparser</a></li>
                            <li><a href="#">Copyright</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <center><h1>Debian {{appname}} Packaging Status</h1></center>
    <div class="row header" width="100%">
        <table style="width:100%;margin-top:1%;text-align:center">
            <tr>
                <td>Total</td>
                <td>Packaged</td>
                <td>ITP</td>
                <td>Unpackaged</td>
                <td>Status</td>
            </tr>
            <tr>
                <td><h2>{{total}}<h2></td>
                <td style="color:green"><h2>{{packaged_count}}<h2></td>
                <td style="color:#5BC0DE"><h2>{{itp_count}}<h2></td>
                <td style="color:red"><h2>{{unpackaged_count}}<h2></td>
                <td><h2>{{percent_complete}}%<h2></td>
            </tr>
        </table>
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width: {{packaged_count*100/total}}%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: {{unpackaged_count*100/total}}%;"></div>
            <div class="progress-bar progress-bar-info" style="width: {{itp_count*100/total}}%;"></div>
        </div>
        <div class="row well">
            <table class="table table-bordered tablesorter">
                <thead>
                    <tr>
                        <th data-sorter="false" class="{sorter: false}">Sl. No</th>
                        <th>Gem</th>
                        <th>Gem Requirement</th>
                        <th>Debian Version</th>
                        <th>Suite</th>
                        <th>Status</th>
                    </tr>
                </thead>
                {% set count = 1 %}
                {% for dep in extended_dep_list %}
                <tr class="{{ dep.color }}">
                    <td>{{count}}</td>
                    {% set count = count+1 %}
                    <td><a href="http://rubygems.org/gems/{{ dep.name }}">{{dep.name}}</a></td>
                    <td>{{ dep.requirement }}</td>
                    <td>{{ dep.version }}</td>
                    <td>{{ dep.suite }}</td>
                    <td>{{ dep.status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
</body>
